.Header{
  display: grid;
  grid-template-areas: "logo nav card";
  grid-template-columns: max-content auto min-content;
  align-items: center;
  &__logo{
    grid-area: logo;
    & > a{
      text-decoration: none;
      color: inherit;
    }
  }
  &__nav{
    grid-area: nav;
    justify-self: center;
  }
  &__card{
    grid-area: card;
  }

}
