<mat-toolbar class="Header" color="primary">
  <h1 class="Header__logo">
    <a
      routerLink='/'
    >
      PlatziStore
    </a>
  </h1>
  <nav class="Header__nav">
    <a 
      class="Header__nav-item"
      *ngFor="let route of routes"
      mat-button
      color="white"
      [routerLink]="route.path"
      routerLinkActive="mat-accent">
      {{route.name}}
    </a>
  </nav>
  <a class="Header__card" mat-icon-button color="white" routerLink="/card" routerLinkActive="mat-accent"><mat-icon matBadge="8" matBadgeColor="accent" matBadgePosition="badge">shopping_cart</mat-icon></a>
  
</mat-toolbar>