@import '../../../../styles/var';

.Header{
  height: 100%;
  padding: 0 8%;
  display: grid;
  grid-template-areas: "logo nav icons";
  grid-template-columns: 20% auto 20%;
  align-items: center;
  &__logo{
    grid-area: logo;
    & > span {
      display: none;
    }
    & > a{
      text-decoration: none;
      color: inherit;
      & > img{
        height: 60%;
      }
    }
  }
  &__nav{
    grid-area: nav;
    justify-self: center;
    & > a{
      font-size: $h5;   
    }
  }
  &__search{
    grid-area: nav;
    justify-self: center;
    width: 80%;
  }
  &__icons{
    grid-area: icons;
    display: flex;
    justify-content: space-evenly;
  }

}

.mat-icon{
  font-size: 40px !important;
  }
  