<button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
  {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
</button>
<mat-horizontal-stepper [linear]="isLinear" #stepper>
  <mat-step>
    <ng-template matStepLabel>Lista de Productos</ng-template>
    <section class="ProductList">
      <div class="ProductList__products">
        <app-order-product-sm *ngFor="let order of orders$ | async" [order]="order"></app-order-product-sm>
      </div>
      <div class="ProductList__summary">
        <div class="ProductList__summary-item">
          <h6 class="primary">Total Unidades:</h6>
          <h6>{{totalAmound$ | async}}</h6>
        </div> 
        <div class="ProductList__summary-item">
          <h6 class="primary">Total Productos:</h6>
          <h6>{{totalProducts$ | async }}</h6>
        </div>
        <div class="ProductList__summary-item">
          <h6 class="primary">Total Pedido:</h6>
          <h6>{{totalPrice$ | async | currency :'COP':'$':'4.0'}}</h6>
        </div>
      </div>
    </section>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Fill out your address</ng-template>
      <mat-form-field>
        <mat-label>Address</mat-label>
        <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY"
               required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
