@import '../../../../styles/var';

.mat-stepper-vertical, .mat-stepper-horizontal, .mat-horizontal-content-container{
  height: 100%;  
}

.ProductList{
  height: 100%;
  display: grid;
  grid-template-areas: "products summary";
  justify-items: center;
  &__products{
    width: 100%;
    height: 50vh;
    grid-area: products;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    @include styleScrollY;
  }
  &__summary{
    align-self: center;
    grid-area: summary;
    width: 80%;
    &-item{
      display: flex;
      justify-content: space-between;
    }

  }
}

.DateSend{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  & > mat-form-field{
    width: 80%;
  }
  &__btn{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
}
mat-vertical-stepper{
  display: none;
  width: 98vw;
}

@media (max-width: 768px) {
  mat-horizontal-stepper{
    display: none;
  }
  mat-vertical-stepper{
    display: block;
  }
  .ProductList{
    height: auto;
    width: 100%;
    grid-template-areas: "products" "summary";
    &__products{
      width: 100%;
      height: auto;
      grid-template-columns: 1fr;
    }
    &__summary{
      margin-top: 5%;
      width: 100%;
      justify-self: left;
      &-item{
        display: flex;
        justify-content: space-between;
      }
  
    }
  }
  .DateSend{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    & > mat-form-field{
      width: 100%;
    }
    &__btn{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-items: center;
    }
  }
}