
//  ·██████╗·██████╗·██╗······██████╗·██████╗·
//  ██╔════╝██╔═══██╗██║·····██╔═══██╗██╔══██╗
//  ██║·····██║···██║██║·····██║···██║██████╔╝
//  ██║·····██║···██║██║·····██║···██║██╔══██╗
//  ╚██████╗╚██████╔╝███████╗╚██████╔╝██║··██║
//  ·╚═════╝·╚═════╝·╚══════╝·╚═════╝·╚═╝··╚═╝

$primary: #327580;
$segundary: #4FBBCC;
$light: #63EAFF;
$accent: #FFF01A;
$warning: #F21221;
$white: #FFFFFF;
$desactive: #B3BFC1;
$dark: #000000;

//  ███████╗██████╗··█████╗··██████╗██╗███╗···██╗·██████╗·
//  ██╔════╝██╔══██╗██╔══██╗██╔════╝██║████╗··██║██╔════╝·
//  ███████╗██████╔╝███████║██║·····██║██╔██╗·██║██║··███╗
//  ╚════██║██╔═══╝·██╔══██║██║·····██║██║╚██╗██║██║···██║
//  ███████║██║·····██║··██║╚██████╗██║██║·╚████║╚██████╔╝
//  ╚══════╝╚═╝·····╚═╝··╚═╝·╚═════╝╚═╝╚═╝··╚═══╝·╚═════╝·

$space:10px;


//  ████████╗██╗···██╗██████╗··██████╗·
//  ╚══██╔══╝╚██╗·██╔╝██╔══██╗██╔═══██╗
//  ···██║····╚████╔╝·██████╔╝██║···██║
//  ···██║·····╚██╔╝··██╔═══╝·██║···██║
//  ···██║······██║···██║·····╚██████╔╝
//  ···╚═╝······╚═╝···╚═╝······╚═════╝·

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
    
$font: 'Poppins', sans-serif;

// Typos
$h1:50px;
$h2:30px;
$h3:26px;
$h4:20px;
$h5:18px;
$h6:14px;
$p:14px;
$small:12px;

// Typo Bolds

$semiBold:600;
$regular:400;