@import './token/material';
@import './token/color';
@import './token/type';
@import './token/spacing';

html,
body {
  height: 100%;
  margin: 0;
}

* {

  font-family: $font !important;
}

.ribbon {
  width: 0px;
  height: 25px;
  border-left: 15px solid $warning;
  border-right: 15px solid $warning;
  border-bottom: 17px solid transparent;
  display: flex;
  justify-content: center;
  color: $white;
  font-weight: $semiBold;
}