@import './token/material';
@import './token/color';
@import './token/type';
@import './token/spacing';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: $font !important;
}

.mat-icon{
font-size: 40px !important;
}

.