@import './token/material';
@import './token/color';
@import './token/type';
@import './token/spacing';

html,
body {
  min-height: 100vh;
  margin: 0;
}

:focus {
  outline: none;
}

.ribbon {
  width: 0px;
  height: 25px;
  border-left: 15px solid $warning;
  border-right: 15px solid $warning;
  border-bottom: 17px solid transparent;
  display: flex;
  justify-content: center;
  color: $white;
  font-weight: $semiBold;
}

.circule {
  width: 21px;
  height: 21px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.btn {
  &__gradiente {
    border: 1px solid $primary !important;
    @include bg-gradiente;

    &-LG {
      width: 100% !important;
      border-radius: 30px !important;
      height: 50px;
      font-size: $h5;
    }
  }
  &__segundary {
    border: 1px solid $primary !important;
    &-LG {
      width: 100% !important;
      border-radius: 30px !important;
      height: 50px;
      font-size: $h5;
    }
  }
  
}
