.swiper-container{
  max-width:98vw ;
  height: 100%;
}
.swiper-button-prev, .swiper-button-next{
  color: white;
}

img{
  width: 100%;
  object-fit: cover;
}

.movil{
  display: none;
}

@media (max-width: 768px){
  .desk{
    display: none;
  }
  .movil{
    display: block;
  }
  
}