@import '../../../../styles/var';

.bestProducts{
  &__title{
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: left;
  }
  &__content{
    display: inline-flex;
    max-width: 100%;
    @include styleScrollX;
  }
}
