@import '../../../../styles/var';

.Products {
  display: grid;
  justify-content: center;
  align-items: center;
  &__title {
    text-align: center;
  }

  &__detail {
    width: 100%;
    justify-self: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
  }
}
