@import '../../../../styles/var';

.Products{
  display: block;
  font-family: $font !important;
  &__title{
    margin-top: 3% !important;
    padding-left: 10%;
  }
  &__detail{
    justify-self: center;
    display: list-item;
    margin-top: 6%;
    &-items{
      -webkit-column-count: 3; /* Chrome, Safari, Opera */
      -moz-column-count: 3; /* Firefox */
      column-count: 3;
      -webkit-column-gap: 0.5em; /* Chrome, Safari, Opera */
      -moz-column-gap: 0.5em; /* Firefox */
      column-gap: 0.5em;
    }
  }
}