@import '../../../../styles/var';

.Products {
  display: grid;
  justify-content: center;
  align-items: center;
  &__title {
    text-align: center;
  }

  &__detail {
    width: 100%;
    justify-self: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .Products {
    &__detail {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
@media (max-width: 425px) {
  .Products {
    &__title {
      font-size: $h3 !important;
    }
    &__detail {
      grid-template-columns: 1fr;
    }

  }
}