.Layout {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-columns: 100%;
  grid-template-rows: minmax(10vh, 80px )   auto 275px;
  min-height: 100vh;
  &__header{
    grid-area: header;
  }
  &__content{
    grid-area: main;
    height: 100%;
    width: 100%;
    justify-self: center;
  }
  &__footer{
    grid-area: footer;
    background-color: royalblue;
  }

}
