@import '../../../../styles/var';

.Home{
  height: 100%;
  display: grid;
  grid-template-areas: "banner" "products" "publicidad";
  grid-template-rows: 60vh auto auto;
  &__bestProducts{
    grid-area: products ;
    max-width: 96vw;
    @include styleScrollX
  }
  &__publicidad{
    grid-area: publicidad;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
  }
}
app-banner{
  grid-area: banner;
  margin-bottom: 2%;
}