@import '../../../../styles/var';

.Home{
  height: 100%;
  display: grid;
  grid-template-areas: "banner" "products" "publicidad";
  grid-template-rows: auto  auto auto;
  &__bestProducts{
    grid-area: products ;
    max-width: 98vw;
  }
  &__publicidad{
    grid-area: publicidad;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-around;
    max-width: 98vw;
    justify-items: center;
    & > img{
      width: 100%;
      margin: 5%;
    }
  }
}
app-banner{
  grid-area: banner;
  margin-bottom: 2%;
}

@media (max-width: 768px){
  .Home{
    &__publicidad{
      grid-template-columns: 80%;
      grid-template-rows: repeat(3, 1fr);
    }
  }
}