<section class="productMd space_2_margin space_2">
  <img class="productMd__bg" src="assets/bgCardProductsMD.png" alt="cover">
  <div class="productMd__percentaje ribbon"  *ngIf="product.discount">
    {{product.percentaje}}%
  </div>
  <img class="productMd__img" [src]="product.image" [alt]="product.title">
  <h4 class="productMd__title primary">{{product.title |titlecase}}</h4>
  <div class="productMd__description">{{product.description}}</div>
  <div class="productMd__price">
    <div [ngClass]="{'desactive tachado' :product.discount }" class="productMd__price-value primary">
      {{product.price | currency :'COP':'$':'4.0'}}
    </div>
    <div class="productMd__price-discount warning" *ngIf="product.discount">
      {{product.price - (product.percentaje * product.price / 100) | currency :'COP':'$':'4.0'}}
    </div>
  </div>
</section>
