<section class="productMd space_2_margin space_2">
  <img  class="productMd__bg" src="assets/bgCardProductsMD.png" alt="cover">
  <div class="productMd__percentaje ribbon" *ngIf="product.discount">
    {{product.percentaje}}%
  </div>
  <div [routerLink]="product.id" class="productMd__content">
    <img class="productMd__content-img" [src]="product.image" [alt]="product.title">
    <h3 class="productMd__content-title white">
      {{product.title |titlecase | slice:0:12}}
      <span *ngIf="product.title.length > 12" >...</span>
    </h3>
    <div class="productMd__content-description">
    <p>{{product.description | slice:0:60}}</p>
    <span *ngIf="product.title.length > 60" >...</span>
    </div>
    <div class="productMd__content-price">
      <div [ngClass]="{'desactive tachado' :product.discount }" class="productMd__content-price-value white">
        {{product.price | currency :'COP':'$':'4.0'}}
      </div>
      <div class="productMd__content-price-discount warning" *ngIf="product.discount">
        {{product.price - (product.percentaje * product.price / 100) | currency :'COP':'$':'4.0'}}
      </div>
    </div>
  </div>
      <div class="productMd__action">
        <button
          mat-raised-button
          class="productMd__action-addCard btn__gradiente btn__gradiente-LG"
          (click)="addCart(product)"
        >
          Agregar
        </button>
      </div>
</section>