<section class="productDetail">
  <div class="productDetail__imagens">
    <img class="productDetail__imagens-bg" src="assets/bgCardProductsLG.png" alt="cover">
    <div class="productDetail__imagens-segundary">
      <ng-container *ngIf="product.images">
        <img *ngFor="let img of product.images" [src]="img" alt="imagen">
      </ng-container>
      <ng-container *ngIf="!product.images">
        <img [src]="product.image" alt="imagen Producto">
      </ng-container>
    </div>
    <img class="productDetail__imagens-principal" [src]="product.image" alt="imagen producto">
  </div>
  <div class="productDetail__detail">
    <div class="productDetail__detail-percentaje ribbon" *ngIf="product.discount">
      {{product.percentaje}}%
    </div>
    <h3 class="productDetail__detail-title primary">{{product.title}}</h3>
    <div class="productDetail__detail-price">
      <div [ngClass]="{'desactive tachado' :product.discount }" class="productDetail__detail-price-value segundary">
        {{product.price | currency :'COP':'$':'4.0'}}
      </div>
      <div class="productDetail__detail-price-discount warning" *ngIf="product.discount">
        {{product.price - (product.percentaje * product.price / 100) | currency :'COP':'$':'4.0'}}
      </div>
    </div>
    <p class="productDetail__detail-description">{{product.description}}</p>
    <div class="productDetail__detail-amound">
      <h5 class="productDetail__detail-amound-title segundary">Cantidad</h5>
      <div class="productDetail__detail-amound-content">
        <button *ngIf="amound > 1" mat-icon-button aria-label="Disminuir" (click)="amoundDowd()">
          <mat-icon>remove</mat-icon>
        </button>
        <button *ngIf="amound === 1" mat-icon-button disabled aria-label="Disminuir" (click)="amoundDowd()">
          <mat-icon>remove</mat-icon>
        </button>
        <div class="productDetail__detail-amound-content--number">
          <p>{{amound}}</p>
        </div>
        <button mat-icon-button aria-label="Disminuir" (click)="amoundUp()">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
    <div class="productDetail__detail-colors">
      <h5 class="segundary">Colores</h5>
      <div class="productDetail__detail-colors-content">
        <div class="productDetail__detail-colors-content-item" *ngFor="let color of product.colors">
          <div class="circule productDetail__detail-colors-content-item-color" [ngStyle]="{'background-color':color}"></div>
          <input class="productDetail__detail-colors-content-item-radio" type="radio" [id]="color" [name]="color" [value]="color" [(ngModel)]="selectColor">
        </div>
      </div>
    </div>
    <div class="productDetail__detail-size">
      <h5 class="segundary">Talla</h5>
      <div class="productDetail__detail-size-content"> 
        <div class="productDetail__detail-size-content-item" 
        *ngFor="let size of product.sizes">
          <input type="radio" [id]="size" [name]="size" [value]="size" [(ngModel)]="selectSize">
          <label [ngClass]="{'white' :selectSize === size}" class="productDetail__detail-size-content-item--label" [for]="size">{{size}}</label>
        </div>
      </div>

    </div>
    <div class="productDetail__detail-action">
      <button (click)="addCard(product)" mat-raised-button class="productDetail__detail-action-add btn__gradiente btn__gradiente-LG ">Agregar</button>
    </div>
  </div>
</section>