@import'../../../../styles/var';
.productDetail{
  height: 490px;
  position: relative;
  margin: 6% 10%;
  box-shadow: 0 3px 6px 0 rgba($dark, 0.16);
  border: solid 1px $primary;
  border-radius: 30px;
  display: grid;
  grid-template-areas: "imagens detail";
  grid-template-columns: 60% 40%;
  &__percentaje{
    position: absolute;
    top: 0;
    right: 5%;
  } 
  &__imagens{
    width: 100%;
    height: 100%;
    position: relative;
    grid-area: imagens;
    display: grid;
    grid-template-areas: "segundary principal";
    grid-template-columns: 30% 70%;
    grid-template-rows: 100%;
    justify-content: center;
    align-items: center;
    &-bg{ 
      position: absolute;
      object-fit: cover;
      height: 100%;
      width: 100%;
      z-index: -1;
    }
    &-principal{
      grid-area: principal;
      width: 100%;
    }
    &-segundary{
      height: 100%;
      grid-area: segundary;
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: center;
      & > img{
        width: 50%;
        margin: 5%;
      }
    }
  }
  &__detail{
   grid-area: detail; 
       &-price{
      margin-top: 3%;
      grid-area: price;
      display: flex;
      justify-content: space-evenly;
      width: 100%;
      font-size: $h4;
      font-weight: $semiBold;
    }
  }
}