@import'../../../../styles/var';

.productDetail {
  height: 490px;
  margin: 6% 10%;
  box-shadow: 0 3px 6px 0 rgba($dark, 0.16);
  border: solid 1px $primary;
  border-radius: 30px;
  display: grid;
  grid-template-areas: "imagens detail";
  grid-template-columns: 60% 40%;

  &__imagens {
    width: 100%;
    height: 100%;
    position: relative;
    grid-area: imagens;
    display: grid;
    grid-template-areas: "segundary principal";
    grid-template-columns: 30% 70%;
    grid-template-rows: 100%;
    justify-content: center;
    align-items: center;

    &-bg {
      position: absolute;
      border-radius: 30px;
      object-fit: fill;
      height: 100%;
      width: 100%;
      z-index: -1;
    }

    &-principal {
      justify-self: center;
      grid-area: principal;
      width: 80%;
    }

    &-segundary {
      height: 100%;
      grid-area: segundary;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      &>img {
        width: 50%;
        margin: 10px;
      }
    }
  }

  &__detail {
    padding-left: 5%;
    grid-area: detail;
    display: grid;
    grid-template-areas:
      "percentaje percentaje"
      "title title"
      "price price"
      "description description"
      "amound amound"
      "colors size"
      "action action";
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 50px repeat(2, $h1) auto;
    justify-items: center;
    align-items: center;

    &-percentaje {
      grid-area: percentaje;
      justify-self: right;
      margin-right: 10%;
    }

    &-title {
      grid-area: title;
      text-align: center;
    }

    &-price {
      margin-top: 3%;
      grid-area: price;
      display: flex;
      justify-content: space-evenly;
      width: 100%;
      font-size: $h4;
      font-weight: $semiBold;
    }

    &-description {
      grid-area: description;
    }

    &-amound {
      grid-area: amound;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &-content {
        margin-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;

        &--number {
          width: 60px;
          height: 40px;
          border: 1px solid $segundary;
          border-radius: 10px;
          display: flex;
          justify-content: center;
          align-items: center;

          &>p {
            font-size: $h6 !important;
          }
        }
      }
    }

    &-colors {
      height: 100%;
      grid-area: colors;
      display: grid;
      grid-template-rows: 20% 80%;

      &-content {
        margin-top: 10%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        &-item {
          display: grid;
          grid-template-areas: "color";
          align-items: center;
          justify-content: center;
          border: none;
          width: 23px;
          height: 23px;

          &>input {
            grid-area: color;
            &[type="radio"i] {
              border-radius: 50%;
              width: 23px;
              height: 23px;
              margin: 0;
              -webkit-appearance: none;
              &:checked{
                border: 3px solid $dark;
              }
            }
          }
          &-color {
            grid-area: color;
          }
        }
      }
    }

    &-size {
      width: 80%;
      height: 100%;
      text-align: center;
      display: grid;
      grid-template-rows: 20% 80%;
      grid-area: size;

      &-content {
        margin-top: 10%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: $h6 !important;

        &-item {
          display: grid;
          grid-template-areas: "size";
          align-items: center;
          justify-content: center;
          border: 1px solid $primary;
          width: 30px;
          height: 30px;

          &>input {
            grid-area: size;
            &[type="radio"i] {
              border-radius: 0px;
              width: 30px;
              height: 30px;
              margin: 0;
              -webkit-appearance: none;
              border: 1px solid $segundary;
              &:checked{
                background: $primary;
                color: $white;
              }
            }
          }
          &>label {
            grid-area: size;
          }
        }
      }
    }

    &-action {
      grid-area: action;
      width: 80%;
    }
  }
}

@media (max-width: 768px) {
  .productDetail {
    grid-template-areas: "imagens" "detail";
    grid-template-columns: 100%;
    height: max-content;
    &__detail {
      padding-left: 0%;
      padding: 0% 5%;
      padding-bottom: 5%;
      grid-template-areas:
      "percentaje"
      "title"
      "price"
      "description"
      "amound"
      "colors" 
      "size"
      "action";
      grid-template-columns: 1fr;
      &-percentaje {
        margin-right: 5%;
        margin-top: -5%;
      }
    }
  }
}
