<section class="productDetail">
  
  <div class="productDetail__percentaje ribbon" *ngIf="product.discount">
    {{product.percentaje}}%
  </div>
  <div class="productDetail__imagens">
    <img class="productDetail__imagens-bg" src="assets/bgCardProductsLG.png" alt="cover">
    <div class="productDetail__imagens-segundary">
      <img *ngFor="let img of product.images" [src]="img" alt="imagen">
    </div>
    <img class="productDetail__imagens-principal" [src]="product.image">
    
  </div>
  <div class="productDetail__detail">
<h2>{{product.title}}</h2>
<div class="productDetail__detail-price">
  <div [ngClass]="{'desactive tachado' :product.discount }" class="productDetail__detail-price-value white">
    {{product.price | currency :'COP':'$':'4.0'}}
  </div>
  <div class="productDetail__detail-price-discount warning" *ngIf="product.discount">
    {{product.price - (product.percentaje * product.price / 100) | currency :'COP':'$':'4.0'}}
  </div>
</div>
  </div>
</section>