<mat-card class="cardProduct">
<!--   <button mat-icon-button color="warn" aria-label="Favorite" class="cardProduct__favorite">
    <mat-icon>favorite</mat-icon>
  </button> -->
  <button mat-icon-button color="warn" aria-label="Favorite" class="cardProduct__favorite">
    <mat-icon>favorite_border</mat-icon>
  </button>
  <mat-card-header
    class="cardProduct__header"
    [routerLink]="['/products', product.id]"
    >
    <mat-card-title class="cardProduct__header-title">
      {{product.title | uppercase}}
    </mat-card-title>
    <mat-card-subtitle class="cardProduct__header-subtitle">
      {{product.price | currency}}
    </mat-card-subtitle>
  </mat-card-header>
  <img
    [routerLink]="['/products', product.id]"
    mat-card-image
    class="cardProduct__img"
    [src]="product.image"
    [alt]="product.title"
  >
  <mat-card-content
    [routerLink]="['/products', product.id]"
    class="cardProduct__description"
  >
     <p>{{product.description}}</p> 
  </mat-card-content>
  <mat-card-actions class="cardProduct__action">
    <button mat-flat-button color="accent">Agregar</button>
  </mat-card-actions>
</mat-card>